{:aliases {:server {:main-opts ["-m"
                                "hda.core"]}},
 :deps
 {buddy/buddy-auth {:mvn/version "3.0.1"},
  buddy/buddy-hashers {:mvn/version "1.8.158"},
  com.github.seancorfield/honeysql {:mvn/version
                                    "2.3.911"},
  com.github.seancorfield/next.jdbc {:mvn/version
                                     "1.2.796"},
  hiccup/hiccup {:mvn/version "1.0.5"},
  http-kit/http-kit {:mvn/version "2.7.0-alpha1"},
  jdbc-ring-session/jdbc-ring-session
  {:mvn/version "1.5.2"},
  metosin/muuntaja {:mvn/version "0.6.8"},
  metosin/reitit {:mvn/version "0.5.18"},
  mysql/mysql-connector-java {:mvn/version
                              "8.0.30"},
  org.clojure/clojure {:mvn/version "1.10.0"},
  ring/ring {:mvn/version "1.9.0"}},
 :path ["src"]}
